<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfTasks" value="4"/>
    <add key="MinSeconds" value="5"/>
    <add key="MaxSeconds" value="20"/>
    <add key="WakeUpTime" value="01:00:00"/>
    <add key="SleepTime" value="14:00:00"/>
    <add key="ApplyTimeToAction" value="true"/>
  </appSettings>
</configuration>