<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="http://www.impuls.cz/souteze/halo-tady-impulsovi-raaaadio-otres-se/"/>
    <add key="NumberOfTasks" value="4"/>
    <add key="MinSeconds" value="10"/>
    <add key="MaxSeconds" value="20"/>
    <add key="WakeUpTime" value="18:00:00"/>
    <add key="SleepTime" value="20:00:00"/>
    <add key="ApplyTimeToAction" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
